html {
	background: url(images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 30px;
  padding-left: 50px;
}

img {
  display: inline;
  border: none;
}

header {
  display: block;
}

#wrap {
  width: 700px;
  margin: 0 auto;
}

header nav {
  width: 325px;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: -20px;
}

/*nav:before {
  content: url(images/slash.png);
  margin-right: 5px;
}*/

header nav ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  clear: both;
}

header nav ul li {
  list-style: none;
  font-family: 'Josefin Sans', arial, serif;
  display: inline;
  margin-right: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: #246E72;
  font-size: 1.2em;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav h1 {
  font-family: 'Josefin Sans', arial, serif;
  color: #246E72;
  width: 300px;
  margin: 0px;
  display: inline-block;
  clear: both;
  font-size: 1.7em;
}

section {
  display: block;
  margin-top: 10px;
}

section #about img {
  margin-right: 15px;
}

section #about div {
  width: 624px;
  padding: 1px 17px 17px;
  margin-top: 15px;
  font-size: .95em;
}

section #about a:hover {
  text-decoration: underline;
  font-family: arial, serif;
  font-size: .95em;
  font-weight: bold;
  text-align: center
}

section #about a {
  text-decoration: none;
  color: #246E72;
  font-size: .95em;
  font-family: arial, serif;
  font-weight: bold;
  text-align: center
}

section #about h2 {
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: 0px;
}

section #about span {
  text-align: center
}

section #links {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

section #links img {
  margin-right: 0px;
  margin-top: 5px;
}

section #thumbnails img {
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

section #thumbnails {
  width: 700px;
}

section #resume {
  width: 624px;
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 10px;
  padding: 10px 17px 17px;
  margin-top: 10px;
  font-family: arial, serif;
  color: #246E72;
  font-size: .95em;
}

section #resume #information {
  margin-bottom: 0px;
  text-align: center;
}

section #resume #information span#name {
  font-family: arial, serif;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}

section #resume h1 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0px;
  margin-top: 25px;
}

section #resume h2 {
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: 0px;
}

section #resume ul {
  margin-top: 0px;
}

section #resume a:hover {
  text-decoration: underline;
  font-family: arial, serif;
  font-size: .95em;
  font-weight: bold;
  text-align: center
}

section #resume a {
  text-decoration: none;
  color: #246E72;
  font-size: .95em;
  font-family: arial, serif;
  font-weight: bold;
  text-align: center
}

section #resume span {
  text-align: center
}

section #resume #education {
  margin-left: 40px;
  margin-top: 0px;
}

section #resume ul#programs {
  width: 500px;
  padding-bottom: 15px;
}

section #resume ul#programs li {
  width: 250px;
  float: left;
}

section #resume #programs-wrapper {
  margin-bottom: 15px;
  height: 90px;
}

section #contact {
  width: 624px;
  padding: 10px 17px 17px;
  margin-top: 10px;
  font-size: .95em;
}

section #contact h1 {
  font-size: 1.2em;
  margin-bottom: 0px;
  margin-top: 10px;
}

section #portfolio aside {
  width: 170px;
  height: 110px;
  padding: 15px;
  margin-top: 15px;
  font-size: .75em;
  float: right;
  left: -50px;
  top: -15px;
  position: relative;
}

section #portfolio p {
  margin: 0px;
}

section #portfolio img {
  margin-right: 15px;
  text-align: center;
}

.rounded_box {
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 10px;
  -moz-border-radius: 10px;
  font-family: arial, serif;
  color: #246E72;
}

.right_picture {
  float: right;
}

.left_picture {
  float: left;
}

article {
  width: 624px;
  padding: 1px 17px 17px;
  margin-top: 15px;
  font-size: .95em
}

article img {
  display: inline;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

section #blog_images_center {
  text-align: center;
}

section #center_images {
  text-align: center;
  border-radius: 10px;
  display: inline;
}

section #threeimages img {
  margin-right: 15px;
  border-radius: 10px;
}

section #threeimages div {
  width: 624px;
  padding: 1px 17px 17px;
  margin-top: 15px;
  font-size: .95em;
}

section #threeimages h1 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0px;
  margin-top: 25px;
}

section #threeimages h2 {
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: 0px;
}

section #threeimages p {
  margin-top: 0px;
}

section #oneimage img {
  border-radius: 10px;
}

section #oneimage div {
  width: 624px;
  padding: 1px 17px 17px;
  margin-top: 15px;
  font-size: .95em;
}

section #oneimage h1 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0px;
  margin-top: 25px;
}

section #oneimage h2 {
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: 0px;
}

section #oneimage p {
  margin-top: 0px;
}

section #siximages img {
  margin-right: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

section #siximages div {
  width: 624px;
  padding: 1px 17px 17px;
  margin-top: 15px;
  font-size: .95em;
}

section #siximages h1 {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0px;
  margin-top: 25px;
}

section #siximages h2 {
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: 0px;
}

section #siximages p {
  margin-top: 0px;
}