<!DOCTYPE html>

<html lang="en"> 
<meta charset="UTF-8"> 
<html>
	<head>
		<title>{{ page.title }} - Jessica Ellingson - Graphic Designer Extraordinaire</title>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'/>
    <link href="/site.css" media='screen' rel='stylesheet', type='text/css'/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src='/site.js' ></script>
    <meta name="author" content="Jessica Ellingson">
  </head>
	<body>
	  <section id='wrap'>
  	  <header>
    	  <a href="/index.html"><img src="/images/logo.png"></a>
    	  <nav>
    	    <h1>{{ page.title }}</h1>
    	    <ul>
    	      <li><a href="/index.html">portfolio</a></li>
    	      <li><a href="/about.html">about</a></li>
    	      <li><a href="/contact.html">contact</a></li>
    	    </ul>
    	  </nav>
  	  </header>
  	  <section>{{ content }}</section>
  	</section>
	</body>
</html>
